@import './../../app.scss';

.parallax {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition-duration: 2s;

    h1 {
        font-size: 5rem;

        @include sm {
            font-size: 3rem;
        }

        @include md {
            font-size: 3rem;
        }
    }

    div {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;

        @include sm {
            background-size: contain;
            background-repeat: no-repeat;
        }

        @include md {
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .mountans {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/mern-real-estat.appspot.com/o/mountains.png?alt=media&token=c8d4b7fb-ff98-491e-a29a-5f59d6a0c3f1");


        @include sm {
            height: 30vh;
            bottom: -40px;
        }

        @include md {
            display: none;
        }

    }

    .moons {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/mern-real-estat.appspot.com/o/sun.png?alt=media&token=16b0cb4d-011a-43d8-b775-5986b28fd56a');

        @include sm {
            height: 50vh;
        }

    }

    .stars {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/mern-real-estat.appspot.com/o/stars.png?alt=media&token=13907032-f951-4fa8-acf6-9a5035da8bbf');
        background-repeat: repeat;

        @include sm {
            background-size: 50%;
        }
    }
}